# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/multi/values-az-rAZ.json
app/build/intermediates/blame/res/debug/multi/values-b+sr+Latn.json
app/build/intermediates/blame/res/debug/multi/values-be-rBY.json
app/build/intermediates/blame/res/debug/multi/values-bs-rBA.json
app/build/intermediates/blame/res/debug/multi/values-en-rAU.json
app/build/intermediates/blame/res/debug/multi/values-gu-rIN.json
app/build/intermediates/blame/res/debug/multi/values-h720dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-hdpi-v4.json
app/build/intermediates/blame/res/debug/multi/values-ldltr-v21.json
app/build/intermediates/blame/res/debug/multi/values-night-v8.json
app/build/intermediates/blame/res/debug/multi/values-pa-rIN.json
app/build/intermediates/blame/res/debug/multi/values-pt-rBR.json
app/build/intermediates/blame/res/debug/multi/values-sq-rAL.json
app/build/intermediates/blame/res/debug/multi/values-v12.json
app/build/intermediates/blame/res/debug/multi/values-v13.json
app/build/intermediates/blame/res/debug/multi/values-v16.json
app/build/intermediates/blame/res/debug/multi/values-v18.json
app/build/intermediates/blame/res/debug/multi/values-v22.json
app/build/intermediates/blame/res/debug/multi/values-v23.json
app/build/intermediates/blame/res/debug/multi/values-v24.json
app/build/intermediates/blame/res/debug/multi/values-v25.json
app/build/intermediates/blame/res/debug/single/color-v11.json
app/build/intermediates/blame/res/debug/single/color-v23.json
app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-mdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxxhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-v21.json
app/build/intermediates/blame/res/debug/single/drawable-v23.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi-v4.json
app/build/intermediates/blame/res/debug/single/layout-v16.json
app/build/intermediates/blame/res/debug/single/layout-v21.json
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/
app/build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/multidex/1.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/multidex/1.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-compat/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az-rAZ/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be-rBY/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs-rBA/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu-rIN/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa-rIN/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq-rAL/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v12/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v13/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/anim/abc_grow_fade_in_from_bottom.xml
app/build/intermediates/res/merged/debug/anim/abc_popup_enter.xml
app/build/intermediates/res/merged/debug/anim/abc_popup_exit.xml
app/build/intermediates/res/merged/debug/anim/abc_shrink_fade_out_from_bottom.xml
app/build/intermediates/res/merged/debug/color-v11/
app/build/intermediates/res/merged/debug/color-v23/
app/build/intermediates/res/merged/debug/color/abc_btn_colored_borderless_text_material.xml
app/build/intermediates/res/merged/debug/color/abc_btn_colored_text_material.xml
app/build/intermediates/res/merged/debug/color/abc_hint_foreground_material_dark.xml
app/build/intermediates/res/merged/debug/color/abc_hint_foreground_material_light.xml
app/build/intermediates/res/merged/debug/color/abc_tint_btn_checkable.xml
app/build/intermediates/res/merged/debug/color/abc_tint_default.xml
app/build/intermediates/res/merged/debug/color/abc_tint_edittext.xml
app/build/intermediates/res/merged/debug/color/abc_tint_seek_thumb.xml
app/build/intermediates/res/merged/debug/color/abc_tint_spinner.xml
app/build/intermediates/res/merged/debug/color/abc_tint_switch_thumb.xml
app/build/intermediates/res/merged/debug/color/abc_tint_switch_track.xml
app/build/intermediates/res/merged/debug/color/switch_thumb_material_dark.xml
app/build/intermediates/res/merged/debug/color/switch_thumb_material_light.xml
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/
app/build/intermediates/res/merged/debug/drawable-ldrtl-hdpi-v17/
app/build/intermediates/res/merged/debug/drawable-ldrtl-mdpi-v17/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xhdpi-v17/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxhdpi-v17/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxxhdpi-v17/
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/
app/build/intermediates/res/merged/debug/drawable-v21/
app/build/intermediates/res/merged/debug/drawable-v23/
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/
app/build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/
app/build/intermediates/res/merged/debug/drawable/abc_btn_borderless_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_btn_colored_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_btn_default_mtrl_shape.xml
app/build/intermediates/res/merged/debug/drawable/abc_dialog_material_background.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_ab_back_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_arrow_drop_right_black_24dp.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_clear_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_go_search_api_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_menu_overflow_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_search_api_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ic_voice_search_api_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ratingbar_indicator_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ratingbar_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_ratingbar_small_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_seekbar_thumb_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_seekbar_tick_mark_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_seekbar_track_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_spinner_textfield_background_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_text_cursor_material.xml
app/build/intermediates/res/merged/debug/drawable/abc_vector_test.xml
app/build/intermediates/res/merged/debug/drawable/notification_bg.xml
app/build/intermediates/res/merged/debug/drawable/notification_bg_low.xml
app/build/intermediates/res/merged/debug/drawable/notification_icon_background.xml
app/build/intermediates/res/merged/debug/drawable/notification_tile_bg.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_media_action.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_media_cancel_action.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_template_big_media.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_template_big_media_custom.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_template_big_media_narrow.xml
app/build/intermediates/res/merged/debug/layout-v11/notification_template_big_media_narrow_custom.xml
app/build/intermediates/res/merged/debug/layout-v16/
app/build/intermediates/res/merged/debug/layout-v21/
app/build/intermediates/res/merged/debug/layout/abc_alert_dialog_button_bar_material.xml
app/build/intermediates/res/merged/debug/layout/abc_alert_dialog_material.xml
app/build/intermediates/res/merged/debug/layout/abc_alert_dialog_title_material.xml
app/build/intermediates/res/merged/debug/layout/abc_dialog_title_material.xml
app/build/intermediates/res/merged/debug/layout/abc_popup_menu_header_item_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_screen_content_include.xml
app/build/intermediates/res/merged/debug/layout/abc_select_dialog_material.xml
app/build/intermediates/res/merged/debug/layout/notification_action.xml
app/build/intermediates/res/merged/debug/layout/notification_action_tombstone.xml
app/build/intermediates/res/merged/debug/layout/notification_template_custom_big.xml
app/build/intermediates/res/merged/debug/layout/notification_template_icon_group.xml
app/build/intermediates/res/merged/debug/layout/notification_template_lines_media.xml
app/build/intermediates/res/merged/debug/layout/notification_template_media.xml
app/build/intermediates/res/merged/debug/layout/notification_template_media_custom.xml
app/build/intermediates/res/merged/debug/layout/notification_template_part_chronometer.xml
app/build/intermediates/res/merged/debug/layout/notification_template_part_time.xml
app/build/intermediates/res/merged/debug/layout/select_dialog_item_material.xml
app/build/intermediates/res/merged/debug/layout/select_dialog_multichoice_material.xml
app/build/intermediates/res/merged/debug/layout/select_dialog_singlechoice_material.xml
app/build/intermediates/res/merged/debug/values-az-rAZ/
app/build/intermediates/res/merged/debug/values-b+sr+Latn/
app/build/intermediates/res/merged/debug/values-be-rBY/
app/build/intermediates/res/merged/debug/values-bs-rBA/
app/build/intermediates/res/merged/debug/values-en-rAU/
app/build/intermediates/res/merged/debug/values-gu-rIN/
app/build/intermediates/res/merged/debug/values-h720dp-v13/
app/build/intermediates/res/merged/debug/values-hdpi-v4/
app/build/intermediates/res/merged/debug/values-ldltr-v21/
app/build/intermediates/res/merged/debug/values-night-v8/
app/build/intermediates/res/merged/debug/values-pa-rIN/
app/build/intermediates/res/merged/debug/values-pt-rBR/
app/build/intermediates/res/merged/debug/values-sq-rAL/
app/build/intermediates/res/merged/debug/values-v12/
app/build/intermediates/res/merged/debug/values-v13/
app/build/intermediates/res/merged/debug/values-v16/
app/build/intermediates/res/merged/debug/values-v18/
app/build/intermediates/res/merged/debug/values-v22/
app/build/intermediates/res/merged/debug/values-v23/
app/build/intermediates/res/merged/debug/values-v24/
app/build/intermediates/res/merged/debug/values-v25/
app/build/intermediates/rs/
app/build/intermediates/symbols/androidTest/
build/generated/mockable-android-25.jar
